<main class="container center">

  <div class="page-area">

      <pb-article title="Stay on track"
      content="Do you know where you are spending your money? If you really stop to track it down,
      you would get surprised! Proper budget management depends on real data... and this
      app will help you with that!">
      </pb-article>

      <pb-article title="Alerts"
            content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.">
      </pb-article>

      <pb-article title="Results"
            content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.">
          </pb-article>

      <pb-article title="Free"
              content="This app is free!!! And you are the only one holding your data!">
          </pb-article>

      <pb-article title="Stay on track"
              content="Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!">
          </pb-article>

      <pb-article title="Alerts"
              content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.">
          </pb-article>

      <pb-article title="Results"
              content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.">
          </pb-article>

      <div class="text-box">
          <h1>Chart</h1>
          <p>
              <canvas id = "myChart" width="400" height="400"></canvas>
          </p>
      </div>

  </div>

</main>
